body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 100%;
    padding-left: 5%;
}

.half-width image {
    width: 80%;
}